.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.button:not(:disabled):active {
  transform: scale(0.95);
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
  opacity: 0.6;
}

.icon_only {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 22px;
  height: 22px;
  padding: 0;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #dedede;
  transition: all 0.3s;
}

.icon_only:hover {
  opacity: 0.7;
  border-color: transparent;
}

.primary {
  color: #525252;
  background-color: #ffffff;
}

.primary:hover {
  color: #ffffff;
  background-color: #b17ed0;
  opacity: 0.8;
}

.primary_outline {
  color: #525252;
  border-color: #dedede;
  background-color: none;
  box-shadow: none;
}

.primary_outline:hover {
  color: #ffffff;
  background-color: #b17ed0;
  border-color: transparent;
}

.secondary {
  background-color: #b17ed0;
  color: #ffffff;
}

.large {
  padding: 8px;
  min-width: 180px;
}

.full {
  width: 100%;
}

.active {
  background-color: #b17ed0;
  color: #ffffff;
}

.active:hover {
  background-color: #b17ed0;
  color: #ffffff;
  opacity: 0.9;
}

.danger {
  color: #ffffff;
  background-color: #fd5553;
}

.danger:hover {
  background-color: #ce4340;
}

.success {
  color: #ffffff;
  background-color: #7be369;
}

.success:hover {
  color: #ffffff;
  background-color: #6ac45a;
}

.children {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.small {
  min-height: 32px;
  padding: 4px 22px 4px 22px;
}
