.timeslots_container {
  display: flex;
  width: 554px;
  flex-direction: column;
  border-radius: 4px;
}

.timeslots {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
}

.selected_date {
  font-size: 18px;
  color: #525252;
  font-weight: 600;
  padding-bottom: 10px;
}

@media screen and (max-width: 1350px) {
  .timeslots_container {
    width: 400px;
  }
  .timeslots {
  }
}
