.not_found {
  display: flex;
  color: #525252;
  text-align: start;
  gap: 14px;
  margin-top: 26px;
  align-items: center;
}

.info {
  max-width: 340px;
}

.not_found img {
  width: 140px;
  height: 140px;
}

.not_found h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.not_found p {
  color: #838383;
}
