.not_found {
  display: flex;
  flex-direction: column;
  color: #525252;
  text-align: center;
  align-items: center;
}
.not_found img {
  width: 140px;
  height: 140px;
}

.not_found h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
