.header {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  justify-content: space-between;
}

.calendar {
  position: relative;
  border-radius: 6px;
  border: 1px solid #dedede;
  border-right: none;
  color: #838383;
  --calendar_height_px: 94px;
}

.calendar_container {
  display: flex;
  gap: 18px;
}

.calendar_wrapper {
  width: 100%;
  padding-right: 40px;
}

.header_left_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header_right_wrapper {
  display: flex;
  gap: 10px;
}

.button_container {
  display: flex;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
}

.create_appo_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  border: none;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  border-radius: 4px;
  background-color: #b17ed0;
  transition: all 0.3s;
}

.create_appo_btn:hover {
  background-color: #9d70b9;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.1);
}

.calendar_button {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dedede;
  min-height: 38px;
  padding: 8px 22px 8px 22px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: color, 0.4s;
}

.active {
  color: #ffffff;
  background-color: #b17ed0;
  border: 1px solid #b17ed0;
}

.calendar_button:hover {
  border: 1px solid #b17ed0;
  background-color: #b17ed0;
  color: #ffffff;
}

.calendar_button:not(:last-child) {
  border-right: none;
}

.calendar_button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.calendar_button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.date_container {
  display: flex;
  align-items: center;
  min-width: 200px;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
}

.date_button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.display_format_buttons {
  display: flex;
  gap: 4px;
}

.refresh_button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 50%;
  cursor: pointer;
  width: 41px;
  height: 41px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
}

.calendar_header {
  display: grid;
  grid-template-columns: 82px repeat(7, 1fr);
}

.time_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.day_header {
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 15px;
}

.calendar_header .day_header:last-child {
  border-top-right-radius: 4px;
}

.calendar_body {
  display: grid;
  grid-template-columns: 82px repeat(7, 1fr);
}

.calendar_body_day {
  display: grid;
  grid-template-columns: 82px 1fr;
}

.calendar_cell {
  overflow-y: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  position: relative;
  height: var(--calendar_height_px);
  transition: all 0.2s;
}

.hour_buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 99;
}

.calendar_cell:hover {
  background-color: #f1ebf4;
}

.calendar_cell:hover .hour_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  padding-right: 4px;
  padding-top: 4px;
}

.cell_row {
  gap: 4px;
  justify-content: start;
}

.event_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91px;
  gap: 2px;
  background-color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
  will-change: transform;
  pointer-events: all;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
  transition: border 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 193px;
  overflow: hidden; /* Скрывает содержимое, выходящее за границы */
  text-overflow: ellipsis;
}

.event_container:hover {
  border: 2px solid #b17ed0;
  border-radius: 2px;
}

.event_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.event_name p {
  white-space: nowrap; /* Запрет переноса */
  overflow: hidden; /* Скрытие избыточного текста */
  text-overflow: ellipsis; /* Многоточие */
}

.visitors {
  display: flex;
  gap: 4px;
}

.visitors_item {
  display: flex;
  padding: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.visitors_item_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  justify-content: flex-start;
}

.event_wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  margin-left: 82px;
  display: flex;
  gap: 4px;
  pointer-events: none;
}

.timeline {
  top: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #b17ed0;
}

.timeline p {
  background-color: #b17ed0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 82px;
  padding: 4px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 99;
}

.format_buttons_wrapper {
  display: flex;
  gap: 4px;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid #dedede;
}
