.date_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
  color: #525252;
}

.date_wrapper {
  border-radius: 6px;
  padding: 12px;
  background-color: white;
  box-shadow: rgba(15, 23, 37, 0.1) 0px 0px 4px;
}

.date_header {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  font-weight: 600;
}

.date_grid {
  max-width: 297px;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date_day {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  color: #525252;
  transition: all 0.3s;
}

.day_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  color: #b9b7b7;
  padding: 4px;
}

.selected {
  color: white;
  background-color: #b17ed0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.inactive {
  cursor: default;
  color: #b9b7b7;
}

.date_day:not(.inactive):hover {
  color: white;
  background-color: #b17ed0;
}
