.sidebar {
  position: fixed;
  min-height: 100vh;
  background-color: #b17ed0;
  width: 232px;
  text-transform: uppercase;
  transition: width 0.3s ease;
  overflow-x: hidden;
}

.top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  border-bottom: 0.5px solid #a273bf;
}

.close_btn {
  display: flex;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  width: 26px;
  height: 26px;
}

.center {
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 18px;
  transition: all 0.3s ease;
}

.center ul {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  position: relative;
  align-items: center;
  gap: 15px;
  height: 100%;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.6s;
  text-decoration: none;
  color: inherit;
}

.link_active {
  background-color: #a273bf;
}

.link_active::after {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  content: url(../assets/arrow_right_white.svg);
  animation: fadeIn 0.5s forwards;
}

.center ul p {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.center ul li a:hover {
  background-color: #a273bf;
}

.sidebar.closed {
  width: 50px;
  transition: width 0.3s ease;
}

.sidebar.closed .center {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  transition: all 0.3s ease;
}

.sidebar.closed .close_btn {
  right: 50%;
  transform: translate(50%, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
