* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

button {
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  font: inherit;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #dedede;
}

::-webkit-scrollbar-thumb {
  background: #b17ed0;
  border-radius: 4px;
}
