* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

button {
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #838383;
}

body,
html {
  background-color: #fcf7ff;
  height: 100%;
  margin: 0;
}
