.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 8px;
  padding: 2px 12px 2px 6px;
}

.status.blocked {
  background-color: #f8bebd;
  color: #8c2c3d;
}

.status.available {
  background-color: #e5ffe1;
  color: #468d3a;
}

.status.experied {
  background-color: #fffdcc;
  color: #8b8607;
}
