.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #dedede;
  padding: 2px 12px 2px 6px;
}

.status.blocked {
  color: #eb3052;
}

.status.available {
  color: #468d3a;
}

.status.experied {
  color: #8b8607;
}
